NEXT_PUBLIC_SUPABASE_URL=https://agxbiysryarcionyikkh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFneGJpeXNyeWFyY2lvbnlpa2toIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA2MzE5NDIsImV4cCI6MjA4NjIwNzk0Mn0.wvSlG_To1zP20gp3U1XR0Oj5LvK2nzce0-jExA1Qmm0
